

<div style='direction:rtl; margin:20px;' >



  <div class='row'>
    <div class='col-md-6'>
      
      <proximitymap></proximitymap>
    
  </div>
  <!--<div class='col-md-3'>
    <div style='border: solid 1px #ccc; margin:10px; padding:10px; width:200px; height:200px; overflow-y:scroll;'>
      <div ng-repeat="product in productsFull">
        {{product.name}}
      </div>        
    </div>
    
  </div> -->
  <div class='col-md-6'>
    <input type="text" ng-model="newName" ng-keyup="getProducts(newName)" class='input-block-level'/>

    {{newProductName}}
    <div>
      <div ng-repeat="product in search">
        <a ng-click="addProduct(product)" style='cursor:pointer;'>
          {{product.name}}
        </a>
      </div>
    </div>
    <table class="table table-striped">
      <tr ng-repeat="product in products track by product._id">
        <td>
          <button ng-click='incQuantity(product)'>+</button>
          {{product.quantity}}
          <button ng-click='decQuantity(product)'>-</button>

        </td>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
      </tr>
    </table>
  </div>
</div>



</div>