doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/bower_components/angular/angular.js')
    script(type='text/javascript', src='/javascripts/app.js')
  body
    block content