<map zoom="14" style="height:500px;" center="[32.0853000,34.7817680]"  
	dragging-cursor="move" + tilt="45"
	 map-type-id="TERRAIN">
	 
<marker ng-repeat="b in branches" position="{{b.pos}}" on-click="showInfoWindow(event, 'marker-info')"></marker>
	 
	 <!--<info-window ng-repeat="branch in branches" id="1" position="32.0853000,34.7817680" visible="true">
          <div ng-non-bindable="">
			  <br />
תל אביב, ישראל 
          </div>
        </info-window>

<info-window id="2" position="32.0898466,34.7799683" visible="true">
          <div ng-non-bindable="">
            <br />
			כפר סבא
          </div>
        </info-window>-->
	 </map>
	 
